body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #212121;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(50px, auto));
  background-color: rgba(0,0,0, 0.2);
}

header {
  background-color: #64cf55;
  display: grid;
  grid-template-columns: 5fr 3fr;
}


header > .text {
  padding: 40px;
}

header > .text p {
  text-align: justify;
}

header > .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

header  img {
 width: 100%; 
}


main {
  padding: 30px;
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(100px, auto));
  column-gap: 3rem;
  grid-template-areas: 
    "box1 ."
    "box1 box2"
    ". box2";
}

main div {
  padding: 30px;
}

main > div:nth-child(1) {
  grid-row: box1;
}

main > div:nth-child(2) {
  grid-row: box2;
}

main > div > p {
  text-align: justify;
}

.gallery {
  padding: 50px 30px;
  padding-top: 10px;
}

.gallery h2 {
  font-size: 2rem;
  color: #efefef;
  margin-bottom: 20px;
}

.images {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: space-around;
  justify-content: space-around;
}

.images > div { 
  overflow: hidden;

  width: 150px;
  height: 150px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 1px white;
}

.images > div > img {
  width: 100%;
}

footer {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
