:root{
    scroll-behavior: smooth;
    --color-primary: #eb0a44;
    
    --color-secondary: #f2a73d;
    --color-secondary-light: #f8ba63;

    --color-dark: #26251c;
    --color-light: #f5faf7;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("images/background.jpg");
    background-repeat: repeat;
    background-size: 600px;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    background-color: white;
    min-height: 100vh;
    line-height: 2em;
}
header, section, nav{
    border-bottom: 1px solid #CCC;
    padding: 10px 50px;
}

section{
    min-height: 50vh;
}

header{
    text-align: center;
}

table{
    width: 100%;
}

/* ######################################### */

nav a {
    text-decoration: none;
    font-weight: 500;
}

nav a:link {
    color: var(--color-secondary); 
} 

nav a:hover {
    color: var(--color-secondary-light);
}


nav a:active {
    color: rgb(253, 253, 253);
}

nav a[href^="http"] {
    color: var(--color-secondary);
    font-weight: bold;
}

nav a[href^="http"]:hover {
    color: var(--color-secondary-light);
}

nav {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header {
    background: linear-gradient(
        0deg,
        var(--color-primary),
        var(--color-secondary)
    );
}

section:first-child {
    color: var(--color-dark);
}

section:last-child {
    color: var(--color-dark);
    background-color: var(--color-secondary);
}

img {
    transition: transform 1s;
}

img:hover {
    transform: rotate(360deg);
}

table tr:nth-child(odd) {
    background-color: var(--color-light);
    color: var(--color-dark);
}

table tr:nth-child(even) {
    background-color: var(--color-secondary-light);
    color: var(--color-dark);
}



table tr:first-child {
    background-color: var(--color-dark);
    color: var(--color-light);
}

td {
    padding: 10px 30px;
}