{% extends 'main/base.html' %}

{% block title %}
    Create New List
{% endblock %}

{% block content %}
    <h1>Create a new To Do List</h1>
    <br>
    <form action="/create" method="post" class="form-group">
        {% csrf_token %}
        <div class="input-group m-3">
            {{ form.as_p }}
            <div class="input-group-prepend">
                <button type="submit" name="save" class="btn btn-success">Create</button>
            </div>
        </div>
    </form>
{% endblock %}