{% extends "base.html" %} 
{% block title %}Criar conta{% endblock %} 
{% block content %}
  <form method="POST">
    <h3 align="center">Criar conta</h3>
    <div class="form-group">
      <label for="email">Endereço de email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Informe o email"
      />
    </div>
    <div class="form-group">
      <label for="firstName">Nome</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Informe o nome"
      />
    </div>
    <div class="form-group">
      <label for="password1">Senha</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Informe a senha"
      />
    </div>
    <div class="form-group">
      <label for="password2">Senha (Confirma)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirme a senha"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}